// Custom colors

$brand-primary:        		#248CC0;
$brand-success:         	#27B86F;
$brand-info:            	#248CC0;
$brand-warning:         	#E14B00;
$brand-danger:          	#C01315;

// Border radius

$border-radius-base:        	0px;
$border-radius-large:       	0px;
$border-radius-small:       	0px;

// Navbar

$navbar-height:         	100px;

$navbar-default-bg:             transparent;

